body {
	background-color: #FFF;
}

nav {
	padding-top: 0;
	position: fixed !important;
	background-color: #fff;
	margin: 1em;
	z-index: 99;
}

.nav-item {
  	align-self: center;
	background-color: white;
}

#navbar-top {
	width: 100%;
}

#nav-link-top {
	padding-left: 5em;
	color: #999;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	list-style: none;
	font-weight: bold;
}

#nav-link-top:hover {
	color: #222;
}

.navbar-toggler {
	border: none;
	width: 1.5em;
	position: absolute;
	right: 1em;
}

main {
	align-self: center;
	padding-top: 2.5em;
}

p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 150%;
	padding-left: 1em;
	padding-right: 1em;
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 200%;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
}

h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

.meta {
	font-style: italic;
	padding-left: 1.5em;
}

footer {
	padding : 2em;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3em;
	z-index: 0;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}