<!DOCTYPE html>
<html>
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155130627-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-155130627-1');
    </script>


    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="p:domain_verify" content="f5e8c390c5f0b78c64f3293648e5991e"/>

<title>{{ page.title }}</title>
</head>

<body>

<nav class="navbar-nav navbar-light navbar-expand-md" id="navbar-top">
        <a href="https://jdtravelp2s.github.io" class="navbar-brand">
                <img src="/assets/icons/P2S.png" width="50" height="50" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" data-toggle="collapse" data-target=".navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-top" href="https://jdtravelp2s.github.io/blog/index.html">Blog Posts</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-top" href="https://p2stravel.com/join/jdtravelp2s">Join P2S Travel</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-top" href="mailto:jeandavidtravel@gmail.com">Contact me</a> 
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar fixed-bottom justify-content-center" id="navbar-bottom">
        <div id="social-link">    
            <a class="nav-link" href="https://twitter.com/jeandavidtravel">
                <img src="/assets/icons/twitter.png" width="25" height="25" alt="Twitter">
            </a>
        </div>
        <div id="social-link">    
            <a class="nav-link" href="https://www.instagram.com/jeandavidtravel/">
                <img src="/assets/icons/insta.png" width="25" height="25" alt="Instagram">
            </a>
        </div>
    </nav>

  <div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->

<footer id="contact">
	<a href="mailto:jeandavidtravel@gmail.com">Contact me</a>
</footer>

</body>

</html>
